// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade: #007c85;

$darkGrey: #4f585e;
