<div class="banner" style="background-image: /*linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),*/ url('<%= cl_image_path ("christiana-rivers-258740-unsplash.jpg") %>')">
  <div class="banner-content">
    <h1>HairBnB</h1>
    <p>Find Your Best Look</p>
  </div>
</div>

<h1>Wigs#update</h1>
<p>Find me in app/views/wigs/update.html.erb</p>
