body, html {
    background-image: url("http://res.cloudinary.com/dtqkxojhd/image/upload/v1543328874/Marble-background-2-1-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1500px rgba(255, 255, 255, .70);

    background-attachment:fixed;

}
