@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.buttons {
  margin-bottom: 35px;
}

.flip {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: #555;
  // background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
}

h1 {
  font-size: 2.4em;
}

.back {
      display: block;
      color: white;
      width: inherit;
      background-size: cover!important;
      background-position: center!important;
      height: 400px;
      padding: 1em 2em;
      margin-top: 50px;
      background: #313131;
      border-radius: 10px;
      p {
        font-size: 2.0rem;
        line-height: 160%;
        color: #999;
      }
      }
