.button-box-bookings-show {
  display: flex;
  margin-top: 160px;
  margin-left: 70px;
  justify-content: space-around;
}
  .product-text-bookings-show h2 {
  margin: 0 0 47px 38px;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
}

.product-text-bookings-show p {
  margin: 0 0 25px 38px;
  font-family: 'Playfair Display', serif;
  color: black;
  line-height: 1em;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 100px;
}
.product-text-bookings-show h6 {
  margin: 0 0 25px 38px;
  font-family: 'Playfair Display', serif;
  color: black;
  line-height: 1em;
  font-size: 24px;
  font-weight: lighter;
}





